.home {

    &__app-header {
        grid-column: 2 / -1;
        grid-row: 1 / 2;

        padding: 0 1rem 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--color-white);
    }

    &__side-nav {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        display: flex;
        justify-content: center;
        background: var(--primary-color);
        position: relative;
    }

    &__main {
        grid-column: 2 / -1;
        grid-row: 2 / -1;

        background: var(--color-light-grey);
    }

    &__grid-container {
        display: grid;
        grid-template-columns: 25rem repeat(3, 1fr);
        grid-template-rows: 6rem 1fr;
    }
}
