.dashboard {
	&__container {
		height: 100%;
		padding: 4rem;
	}

	&__title-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 3.5rem;
		color: var(--primary-color);
	}

	&__sub-title {
		color: var(--text-secondary);
	}

	&__avatar-card {
		width: 25rem;
		height: 25rem;
		background: white;
		box-shadow: var(--box-shadow-md-l);
	}
}
