.dashboard {
	&__container {
		padding: 0 2rem;
		height: 100%;
	}

	&__title-wrapper {
		padding: 4rem 0;
		@include flex-center(space-between, center);

		@media (max-width: 50em) {
			display: block;
			text-align: center;
		}
	}

	&__title {
		font-size: 3.5rem;
	}

	&__sub-title {
		color: var(--text-secondary);
	}

	&__avatar-card {
		width: 25rem;
		height: 25rem;
		background: white;
		box-shadow: var(--box-shadow-md-l);
	}

	&__dashboard-card-layout {
		width: 100%;
		min-height: 30rem;
		display: grid;
		grid-template-columns: 35rem 1fr;
		grid-column-gap: 2rem;

		@media (max-width: 56.25em) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			grid-gap: 2rem;
		}

		@media (max-width: 33.07em) {
			min-height: 60rem;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 2rem;
		}
	}
}

.show-users {
	&__user-card {
		width: 100%;
		height: 100%;
	}
	&__user-card-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;

		background: white;
		padding: 1rem;
		border-bottom: 3px solid var(--primary-color);
		box-shadow: var(--box-shadow-sm-l);
	}

	&__content {
		& > li {
			list-style: none;
		}

		& > li:not(:last-child) {
			padding-bottom: 2rem;
		}
	}

	&__flex-container {
		display: flex;
		align-items: center;
	}

	&__bottom-card {
		padding: .5rem;
	}
}

.events {
	&__event-card {
		width: 100%;
		height: 100%;
		padding: 1rem;
		background: white;
		border-bottom: 3px solid var(--primary-color);
		box-shadow: var(--box-shadow-sm-l);
	}

	&__event-card-container {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	&__my-events {
		padding-bottom: 1rem;
		grid-column: 1 / 2;
	}

	&__show-people {
		grid-column: 2 / 3;
	}
}
