.home {
	&__app-header {
		grid-column: 2 / -1;
		grid-row: 1 / 2;

		padding: 0 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: var(--box-shadow-sm-l);
		color: blue;
		background-color: var(--color-white);
		z-index: 1;

		@media (max-width: 81.25em) {
			grid-column: 2 / -1;
			background-color: var(--primary-color);
			box-shadow: none;
		}
	}

	&__side-nav {
		grid-column: 1 / 2;
		grid-row: 1 / -1;
		background: var(--primary-color);

		@media (max-width: 81.25em) {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
		}
	}

	&__main-page-area {
		grid-column: 2 / -1;
		grid-row: 2 / -1;

		overflow-y: auto;
		background: var(--color-light-grey);

		@media (max-width: 1300px) {
			grid-column: 1 / -1;
		}
	}

	&__homepage-container {
		max-width: 120rem;
		margin: 0 auto;
	}

	&__grid-container {
		display: grid;
		grid-template-columns: 15rem repeat(3, 1fr);
		grid-template-rows: 7rem 1fr;
		box-shadow: var(--box-shadow-lg-l);

		height: 80vh;
		margin-top: 4rem;
		background-color: #fff;

		@media (max-width: 81.25em) {
			margin: 4rem 2rem 0 2rem;
		}
	}
}

.app-header-list {
	align-items: center;

	&__avatar-img {
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
	}
}
