.home {

    &__app-header {
        grid-column: 2 / -1;
        grid-row: 1 / 2;

        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--box-shadow-sm-l);
        z-index: 1;

        background-color: var(--color-white);
    }

    &__side-nav {
        grid-column: 1 / 2;
        grid-row: 1 / -1;

        display: flex;
        justify-content: center;
        background: var(--primary-color);
        position: relative;
    }

    &__main {
        grid-column: 2 / -1;
        grid-row: 2 / -1;

        background: var(--color-light-grey);
    }

    &__grid-container {
        display: grid;
        grid-template-columns: 15rem repeat(3, 1fr);
        grid-template-rows: 7rem 1fr;
        box-shadow: var(--box-shadow-lg-l);

        min-height: 80vh;
        margin-top: 5rem;
        background-color: #FFF;
    }
}
