*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
	width: 100%;
	min-width: 275px;

	@media (max-width: 62.5em) {
		font-size: 56.25%;
	}
	@media (max-width: 56.25em) {
		font-size: 50%;
	}
}

body {
	width: 100vw;
	height: 100vh;
	min-width: 275px;

	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;

	@include flex-center(center, center);
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

button {
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
	border: none;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}
