*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background: #fcfcfc;
	color: var(--text-primary);
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}
