body {
	font-size: var(--font-size-default);
	font-family: 'Roboto Condensed', 'Lucida Sans Regular',
		'Lucida Grande', sans-serif;
	font-weight: 700;
}

.gradient-text {
	color: transparent;
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--primary-color),
		var(--secondary-color)
	);
	-webkit-background-clip: text;
	background-clip: text;
}

.heading-primary {
	display: inline-block;
	font-size: var(--font-size-xl);
	font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande',
		sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: transparent;
	background-image: linear-gradient(
		to right,
		var(--secondary-color),
		var(--primary-color),
		var(--secondary-color)
	);
	-webkit-background-clip: text;
	background-clip: text;
}

.heading-secondary {
	font-size: var(--font-size-lg);
	font-family: 'Montserrat', 'Lucida Sans Regular', 'Lucida Grande',
		sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.heading-tertiary {
	font-size: var(--font-size-md);
	font-family: 'Cabin', 'Lucida Sans Regular', 'Lucida Grande',
		sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

::selection {
	background: #003366;
	color: var(--secondary-color);
}
