:root {
	// COLORS
	--color-black: #000;
	--color-white: #fff;
	--color-gold: #c69963;

	--primary-color: #062442;
	--secondary-color: #f71735;

	--primary-text-color: #241361;

	--text-primary: #2c3643;
	--text-secondary: rgba(44, 54, 67, 0.7);

	--color-grey-dark: #777;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;

	--color-navy-blue: #003366;
	--color-light-grey: #e8e8e8;

	// FONTS
	--font-size-default: 1.8rem;
	--font-size-sm: 1.6rem;
	--font-size-md: 2rem;
	--font-size-lg: 2.8rem;
	--font-size-xl: 3.2rem;

	// SHADOWS
	// Light
	--box-shadow-sm-l: 0 2px 4px rgba(0, 0, 0, .3);
	--box-shadow-md-l: 4px 4px 5px 1px rgba(0, 0, 0, .2);
	--box-shadow-lg-l: 0 1rem 2rem rgba(0, 0, 0, .45);
	// Dark
	--box-shadow-sm-d: 3px 3px 5px rgba(0, 0, 0, .6);
	--box-shadow-md-d: 5px 5px 10px rgba(0, 0, 0, 0.8);
	--box-shadow-lg-d: 0 1rem 2rem rgba(0, 0, 0, .75);
}

// Sass Variables

$color-black: #000;
$color-white: #fff;

$color-primary: #062442;

$background-image: '../../images/nightlife.png';
