div {
	& div.form-group {
		font-size: var(--font-size-md);
		display: flex;
		flex-direction: column;
	}

	& div.form-group:not(:last-of-type) {
		margin-bottom: 2rem;
	}

	& .form-group:not(:first-of-type) {
		margin-top: 2rem;
	}

	& label {
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;
		transition: all .3s ease-in-out;
		color: var(--primary-text-color);
	}

	& .form input label {
		margin-top: 1.5rem;
	}

	& .form input {
		width: 100%;
		height: 4.5rem;
		padding: 0 2rem 0 1rem;
		font-family: inherit;
		font-size: inherit;
		color: var(--primary-text-color);

		&:focus {
			height: 4.5rem;
			outline: none;
			background: white;
			box-shadow: var(--box-shadow-md-l);
			border: none;
			border-bottom: 2px solid var(--secondary-color);
		}

		&::-webkit-input-placeholder,
		&:-moz-placeholder {
			color: var(--color-grey-dark-2);
		}
	}

	& .borderless-form input {
		width: 100%;
		padding: 0 2rem 0 1rem;
		border: none;
		border-bottom: 2px solid var(--primary-color);
		font-size: inherit;
		font-family: 'Roboto', sans-serif;
		order: 2;
		color: var(--primary-text-color);

		&:focus {
			outline: none;
		}
	}

	& .borderless-form label {
		order: 1;
	}

	& input.form:placeholder-shown + label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	& input.borderless:placeholder-shown + label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(4rem);
	}

	& input[type="submit"] {
		width: 20rem;
		height: 4rem;
		background-color: var(--primary-color);
		margin-top: 2rem;
		color: white;
		outline: none;
	}

	& input[type="checkbox"] {
		width: 40px;
		font-size: 2rem;
	}
}
