.options {
	&__box-container {
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media (max-width: 31.25em) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__box:not(:last-of-type) {
		margin-right: 1rem;
	}

	&__box {
		width: 15rem;
		height: 12rem;
		background: var(--primary-color);
		color: var(--color-gold);
		border-bottom: 3px solid var(--primary-color);
		box-shadow: var(--box-shadow-md-d);
		flex-direction: column;
		@include flex-center(center, center);

		@media (max-width: 31.25em) {
			width: 100%;
		}
	}

	&__link {
		@media (max-width: 31.25em) {
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	&__link-logout {
		width: 15rem;

		@media (max-width: 31.25em) {
			width: 100%;
		}
	}
}
