.results {
	// margin-top: 50rem;

	&__container {
		width: 75%;
		height: 100%;
		margin: 0 auto;

		@media (max-width: 37.5em) {
			width: 90%;
		}
	}

	&__title {
		@include flex-center(center, center);
	}

	&__card {
		width: 100%;
		min-height: 35rem;
		margin-top: 3rem;
		margin-bottom: 7rem;
		padding: 3rem;
		background: white;
		border-bottom: 3px solid var(--primary-color);
		box-shadow: var(--box-shadow-md-l);

		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 2rem;

		@media (max-width: 43.75em) {
			grid-template-columns: 1fr;
			grid-template-rows: minmax(min-content, max-content);
			grid-row-gap: 2rem;
		}

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		&--left {
			border: 2px solid var(--primary-color);
			grid-column: 1 / 2;

			@media (max-width: 43.75em) {
				grid-column: 1 / -1;
			}

			& img {
				width: 100%;
				height: 100%;

				@media (max-width: 43.75em) {
					max-width: 100%;
					max-height: 29rem;
				}
			}
		}

		&--right {
			grid-column: 2 / -1;
			padding: 2rem;
			background: var(--primary-color);
			color: white;
			overflow: hidden;

			@media (max-width: 43.75em) {
				grid-column: 1 / -1;
			}
		}
	}

	& button:disabled {
	}

	&__card-button {
		&--add {
			width: 100%;
			height: 4rem;
			border: none;
			color: white;
			font-weight: bold;
			margin-bottom: 1.5rem;
			background: var(--secondary-color);
		}
		&--details {
			width: 100%;
			height: 4rem;
			border: 2px solid var(--secondary-color);
			color: white;
			font-weight: bold;
			background: var(--primary-color);
		}
		&--a {
			text-decoration: none;
		}
	}

	&__inner-container {
		padding: 2rem;
		height: 100%;
		border: 1px solid white;
	}

	&__name {
		color: cadetblue;
		text-align: center;
	}

	&__location {
		padding-top: 2px;
		text-align: center;
	}

	&__rating {
		padding: 2rem 0;
		text-align: center;
		color: var(--link-color);
	}

	&__lower-box {
		background: dimgray;
		width: 100%;
		padding: 1rem;
		height: 10rem;
		color: white;

		@include flex-center(center, center);
	}
}
