.results {
	&__container {
		max-width: 70rem;
		margin: 0 auto;
	}

	&__card {
		width: 100%;
		min-height: 35rem;
		margin-top: 3rem;
		margin-bottom: 7rem;
		padding: 3rem;
		background: white;
		border-bottom: 3px solid var(--primary-color);
		box-shadow: var(--box-shadow-md-l);

		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 2rem;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		&--left {
			border: 2px solid var(--primary-color);
			grid-column: 1 / 2;

			& img {
				height: 100%;
			}
		}

		&--right {
			grid-column: 2 / -1;
			padding: 2rem;
			background: var(--primary-color);
			color: white;
		}
	}

	&__inner-container {
		padding: 2rem;
		height: 100%;
		border: 1px solid white;
	}

	&__name-location-wrapper {
		height: 10rem;
	}

	&__name {
		color: cadetblue;
		text-align: center;
	}

	&__location {
		padding-top: 2px;
		text-align: center;
	}

	// &__buttons {
	// 	height: 5rem;
	// 	display: flex;
	// 	justify-content: space-between;
	// }

	&__lower-box {
		background: dimgray;
		width: 100%;
		padding: 1rem;
		height: 10rem;
		color: white;

		@include flex-center(center, center);
	}
}
