.side-nav {
	height: 100%;

	&__nav-list-group {
		width: 15rem;
		height: 100%;
		display: flex;
		color: var(--color-white);
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 81.25em) {
			width: auto;
		}
	}

	&__logo {
		width: 100%;
		color: var(--secondary-color);
		font-size: 5rem;
		text-align: center;
		margin-top: 1rem;

		@media (max-width: 81.25em) {
			height: 100%;
			display: flex;
			justify-content: left;
			padding: 0 2rem;
			align-items: center;
			margin-top: 0;
		}
	}

	&__nav-items {
		width: 100%;

		@media (max-width: 1300px) {
			display: none;
		}

		& li {
			width: 100%;
			height: 6rem;
			text-transform: uppercase;
			list-style: none;
			@include flex-center(center, center);
		}

		& li:not(:last-of-type) {
			margin-bottom: 1rem;
		}

		& li:hover {
			background: var(--secondary-color);
			transition: .2s ease-in;
		}

		& li a,
		& li a:link {
			width: 100%;
			height: 100%;
			outline: none;
			text-decoration: none;
			color: var(--color-gold);
			@include flex-center(center, center);
		}

		& li a:hover,
		& li a:link:hover {
			color: white;
			transition: .2s ease-in-out;
		}
	}

	&__yelp-tag {
		color: var(--secondary-color);
		margin-bottom: 2rem;

		@media (max-width: 1300px) {
			display: none;
		}
	}
}

.app-header-list {
	display: flex;

	& li {
		list-style: none;
	}

	& li:not(:first-of-type) {
		margin-left: 1rem;
	}

	& li a {
		display: inline-block;
		text-decoration: none;
	}
}

@keyframes spinner {
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	position: absolute;
	bottom: -5rem;
	left: 47%;
	animation: spinner 2500ms infinite linear;
}
