.side-drawer {
	width: 50%;
	min-width: 20rem;
	height: 100vh;
	background-image: linear-gradient(
		to bottom right,
		var(--primary-color),
		var(--secondary-color)
	);
	padding: .5rem;
	padding-top: 0;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 30% 1fr;

	transform: translateX(calc(100% + 10px));
	transition: transform .4s ease-in-out;

	&__avatar-section {
		grid-row: 2 / 3;
		@include flex-center(center, center);

<<<<<<< HEAD
		// &::after {
		// 	content: '';
		// 	width: 100%;
		// 	height: 100%;

		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// }
=======
		& ul {
			@include flex-center(center, center);
			flex-direction: column;
		}

		& ul li {
			list-style: none;
			&:not(:last-of-type) {
				padding-bottom: .8em;
			}
		}

		&--no-auth {
			height: 100%;
			@include flex-center(center, center);
			background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzFCT8vZwhI1Vfxfr3GMMSsV1EKuLAxYK_hfwx2knuwiYK-buW')
				no-repeat center / cover;

			& p {
				color: white;
				background-color: rgba(0, 0, 0, .6);
				padding: 5px;
				font-size: 3rem;
				font-weight: 400;
				letter-spacing: 2px;
			}
		}
>>>>>>> development
	}

	&__nav-section {
		grid-row: 3 / -1;
	}

	&__ul {
		padding-top: 5rem;
		display: flex;
		flex-direction: column;
	}

	&__li {
		list-style: none;
		margin-bottom: 2rem;
		background: var(--primary-color);
		height: 6rem;
		cursor: pointer;
		color: var(--primary-color);
		@include flex-center(flex-start, center);
		transition: color .4s ease-in-out, fill .4s ease-in-out;

		&:hover > .side-drawer__link,
		&:hover > .side-drawer__link svg {
			color: var(--secondary-color);
			fill: var(--secondary-color);
		}

		& a {
			width: 100%;
			height: 100%;
			display: block;
			font-size: 2.5rem;
			font-weight: 400;
			letter-spacing: 1px;
		}

		& span {
			margin-left: .5rem;
			transition: .4s ease-in-out;
		}

		& svg {
			fill: white;
			transition: .4s ease-in-out;
		}
	}

	&__img {
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__link-wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		padding-left: 1rem;
	}

	&__link {
		text-align: left;
		text-decoration: none;
		color: white;
		@include flex-center(center, center);

		&:hover {
			color: white;
			// transition: color .4s ease-in-out;
		}
	}

	&__search-title {
		padding-left: 1px;
	}

<<<<<<< HEAD
	&__profile-wrapper {
		width: 100%;
		height: calc(100% + 55px);
		position: relative;

		& ul {
			height: 100%;
			@include flex-center(center, center);
			flex-direction: column;
		}

		& li {
			list-style: none;
			@include flex-center(center, center);
		}

		& li:not(:last-of-type) {
			margin-bottom: 1rem;
		}
	}
=======
	// &__profile-wrapper {
	// 	width: 100%;
	// 	height: calc(100% + 55px);
	// 	position: relative;
	// 	z-index: 100;

	// 	& ul {
	// 		height: 100%;
	// 		@include flex-center(center, center);
	// 		flex-direction: column;
	// 	}

	// 	& li {
	// 		list-style: none;
	// 		@include flex-center(center, center);
	// 	}

	// 	& li:not(:last-of-type) {
	// 		margin-bottom: 1rem;
	// 	}
	// }
>>>>>>> development

	@media (min-width: 33.07em) {
		display: none;
	}
}

.side-drawer.open {
	transform: translateX(0);
	position: fixed;
}

.backdrop {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 8;
	position: fixed;
	top: 0;
	left: 0;

	@media (min-width: 40em) {
		display: none;
	}
}
