.signup {
	&__signup-card {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: auto;
		padding: 2rem 5rem;
		gap: 1rem;

		& svg {
			margin: 0 auto;
			fill: var(--secondary-color);
		}
	}

	& input[type="password"],
	& input[type="submit"],
	& input[type="text"] {
		letter-spacing: 2px;
		font-weight: bold;
	}

	& input[type="submit"] {
		order: 2;
		margin-top: 0;
	}

	& ::placeholder {
		font-weight: normal;
	}

	&__sub-heading {
		& svg {
			fill: var(--secondary-color);
		}
	}
}

.signup__container {
}
