.signup {
	position: relative;

	&__signup-container {
		padding: 0 4rem;
		padding-top: 5rem;
	}

	// & input[type="checkbox"] {}

	& input[type="submit"] {
		position: absolute;
		bottom: -10rem;
		left: 50%;
		transform: translateX(-50%);
	}

	& input[type="password"],
	& input[type="submit"],
	& input[type="text"] {
		letter-spacing: 2px;
		font-weight: bold;
	}

	& ::placeholder {
		font-weight: normal;
	}
}
